{% extends 'base.html' %} 

{% block content %}

<section class="tune-detail-container">
    <div class="tune-comments-container">
        <div class="tune">

            <h1>{{ tune.title }}</h1>
            <h3 class="composer">A {{ tune.tune_type }} composed by: {{ tune.composer }}</h3>

            <!-- The tune content  -->
            <p id="tune-notes">{{ tune.content | safe }}</p>
            <p>Added by: {{ tune.author }} on {{ tune.created_on }}</p>
            <strong>Likes: {{ tune.number_of_likes }} </strong>
        </div>

        <div class="comments-container">
        <!-- The comments about the tune  -->
            {% with comments.count as total_comments %}
            <h3>Comments: {{ total_comments }}</h3>
            {% endwith %}
            <div>
                {% for comment in comments %}
                <div class= "comment">
                    <p><span>{{ comment.name }}</span>
                        wrote: {{ comment.body | linebreaks }}</p>
                    <p id="comment-date">{{ comment.created_on }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}